body {
  background-color: #ede7f6;
}

.wrap {
  width: 90%;
  margin: 0 auto;
}

h1 {
  color: #9575cd;
}

.allColse {
  background-color: #bbb5c3;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  height: 2rem;
  margin-bottom: 3%;
  width: 4rem;
}

.question {
  margin-bottom: 3%;
  background-color: white;
}

.question_header {
  background-color: #bbb5c3;
  line-height: 2rem;
  height: 2rem;
  padding: 5px 10px;
  font-weight: bold;
  color: white;
}

.question_body {
  padding: 1rem;
}
