body {
  padding: 0;
  margin: 0;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.header {
  width: 75rem;
  height: 6.25rem;
  background-color: cadetblue;
  margin: 0 auto;
  /* position: relative; */
}

.rogo {
  height: 6.25rem;
  width: 200px;
  background-color: cornflowerblue;
  float: left;
}

.nav {
  height: 3rem;
  width: 600px;
  background-color: darkcyan;
  float: right;
  position: relative;
  top: 3.25rem;
  /* position: absolute;
  right: 0;
  bottom: 0; */
}

.main_menu {
}

.main_menu > li {
  float: left;
  padding: 0 27px;
}

.main_menu > li a {
  line-height: 3rem;
  display: block;
}

.main_menu > li > a {
  font-weight: bold;
}

.sub_menu > li {
  display: none;
}

.main_menu > li:hover li {
  display: block;
}
