#wrap {
}

.btn {
  float: right;
}

.questions_wrap {
  width: 90%;
}

.qestions {
  width: 70%;
  margin: 0 auto;
  margin-top: 5rem;
}

.header {
  background-color: cadetblue;
  color: white;
  font-weight: bold;
  padding: 0.5rem;
}

.body {
  background-color: wheat;
  padding: 1rem;
}
