/* reset */
* {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

body {
  background: #ffeaea;
  overflow-y: scroll;
  padding-top: 70px;
}
/* overflow-y: 오른쪽에 scroll이 생김. */

/* * * * * header * * * * * */
header {
  margin-top: 20px;
  background-color: #ffd8d8;
  height: 50px;
  overflow: hidden;
  /* header의 width가 달라질 때 천천히 달라질 수 있게 넣음. */
  transition: height 0.4s ease-in-out;
  /* step1 문제점 해결 방법 1) */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

/* header - nav */
nav {
  width: 960px;
  margin: 0 auto;
}

/* header - nav : main menu */
nav > ul > li {
  /* 왼쪽부터 정렬. 부모에게 clearfix를 ::after 넣기. */
  float: left;
  /* header의 높이를 넣어 line-height를 가운데로 배치. */
  line-height: 50px;
  /* list 간격 주기 위해서 넣음, 자식요소가 겹치지 않게 넣음. */
  /* margin-right: 70px; : step2 - 3) */
  padding: 0 35px;
  /* sub menu의 기준점. */
  position: relative;
}

/*
<li> <a> </a></li> 형식이면 <a>에
nav > ul > li a {
  display: block; : li 공간을 전부 사용하게함.
  padding: 0 35px;
}
*/

/* header - nav : sub menu */
nav > ul > li ul {
  /* 부모요소 width를 전부 사용. */
  width: 100%;
  /* 자식요소를 감춘 후 부모요소가 가지런해짐. */
  /* display: none; */
  /* main menu에 기준점을 주고 sub menu에 absolute를 붙이면 붕 떠서 부모요소가 여전히 가지런히 있다. */
  position: absolute;
}

nav > ul > li ul li {
  /* 여백에도 줄바꿈을 없애서 긴 자식요소도 쭉 늘어짐. */
  white-space: nowrap;
}
